.header-nav{
    background-color: darkblue;
}
.header-ul{
    display: flex;
    justify-content: flex-start;
    left: 0;
}
.header-ul li{
    padding: 10px;
    cursor: pointer;
    color: white;
    list-style-type: none;
}
.header-ul li:hover{
    background: white;
    color: darkblue;
}
.link{
    color: white;
    text-decoration: none;
}